<div class="card-header">
    <strong>Add Event</strong>
</div>
<div class="card-body card-block">
    <div
            class="alert alert-{{message.type}}"
            *ngIf="message.text">
        {{message.text}}
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
        <div class="row form-group">
            <div class="col col-md-3"><label for="category" class=" form-control-label">Category</label></div>
            <div class="col-12 col-md-9">
                <select
                        id="category"
                        name="category"
                        class="form-control"
                        required
                        [ngModel]="1">
                    <option
                            *ngFor="let c of categories"
                            [value]="c.id">
                        {{c.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label class=" form-control-label">Type</label></div>
            <div class="col col-md-9">
                <div class="form-check">
                    <div class="checkbox" *ngFor="let t of types">
                        <label for="type" class="form-check-label ">
                            <input
                                    type="radio"
                                    id="type"
                                    name="type"
                                    class="form-check-input"
                                    [value]="t.type"
                                    required
                                    [ngModel]="'outcome'">
                            {{t.label}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="amount" class=" form-control-label">
                    Sum
                </label>
            </div>
            <div class="col-12 col-md-9">
                <input id="amount"
                       name="amount"
                       type="number"
                       [ngModel]="1"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="description" class=" form-control-label">
                    Description
                </label>
            </div>
            <div class="col-12 col-md-9">
                <input
                        id="description"
                        name="description"
                        class="form-control"
                        ngModel
                        type="text"
                >
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Add
        </button>
    </form>
</div>