<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','bill']"><i class="menu-icon fa fa-laptop"></i>Bill</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','history']"><i class="menu-icon fa fa-laptop"></i>History</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','planning']"><i class="menu-icon fa fa-laptop"></i>Planning</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','records']"><i class="menu-icon fa fa-laptop"></i>Records</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
