<div *ngIf="isLoaded" class="forms">
    <div class="col-lg-6">
        <div class="card">
            <app-add-event
                    [categories]="categories">
            </app-add-event>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-add-category
                    (onCategoryAdd)="newCategoryAdded($event)">
            </app-add-category>
        </div>
    </div>
</div>

<div *ngIf="isLoaded" class="col-lg-6">
    <div class="card">
        <app-edit-category
                [categories]="categories"
                (categoryEdit)="categoryWasEdited($event)">
        </app-edit-category>
    </div>
</div>
