<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Basic Table</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Course</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>EUR</td>
                    <td>30</td>
                    <td>13.01.18</td>
                </tr><tr>
                    <th scope="row">2</th>
                    <td>USD</td>
                    <td>28</td>
                    <td>14.01.18</td>
                </tr><tr>
                    <th scope="row">3</th>
                    <td>UAH</td>
                    <td>13</td>
                    <td>01.01.15</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>