<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Rates Table</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Course</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let c of currencies">
                    <td>{{c}}</td>
                    <td>{{currency.rates[c]}}</td>
                    <td>{{currency.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>